In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import tree
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn import preprocessing

### load the datasets

In [2]:
df_location = pd.read_csv("dataset/location.csv")

In [3]:
df_cases = pd.read_csv("dataset/individual.csv")

### info about individul cases dataset

In [4]:
df_cases.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 557364 entries, 0 to 557363
Data columns (total 10 columns):
age                       260490 non-null object
sex                       263630 non-null object
province                  550796 non-null object
country                   557340 non-null object
latitude                  557362 non-null float64
longitude                 557362 non-null float64
date_confirmation         556902 non-null object
additional_information    34395 non-null object
source                    348173 non-null object
outcome                   557364 non-null object
dtypes: float64(2), object(8)
memory usage: 42.5+ MB

In [5]:
df_cases.describe()

            latitude      longitude
count  557362.000000  557362.000000
mean       18.138385      27.285771
std        20.455801      67.577194
min       -54.808030    -159.727596
25%        11.042850     -58.473080
50%        19.036810      72.834830
75%        28.456000      77.209100
max        70.071800     174.740000

In [6]:
# out of total 557,364 values 260,490 values are not NULL in age column => 296,874 missing age values

### Data cleaning for age column

In [7]:
age_col = df_cases['age']
age_col = age_col.to_frame()
# age_col = age_col[age_col['age'].notna()]
# age_col.head()

In [8]:
age_col['format']= age_col['age'].str.extract(r'([0-9][0-9]-[0-9][0-9])')
a = age_col['format'].str.extract(r'([0-9][0-9])')
b = age_col['format'].str.extract(r'(-[0-9][0-9])')
b = b[0].str.extract(r'([0-9][0-9])')
b[0] = pd.to_numeric(b[0])
a[0] = pd.to_numeric(a[0])

new = round((a[0]+b[0])/2)
new = new.to_frame()
# new = new.dropna()
age_col['format'] = new[0]

In [9]:
age_col.head()

    age  format
0   NaN     NaN
1  21.0     NaN
2  94.0     NaN
3   NaN     NaN
4   2.0     NaN

In [10]:
age_col['format2'] = age_col['age'].str.extract(r'([0-9]+)')
# here merge format2 into format and made format = age

age_col.format[age_col.format.isnull()] = age_col.format2
age_col.age = age_col.format
# age_col

/Applications/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [11]:
type(age_col.age)
age_col.age= pd.to_numeric(age_col.age)

In [12]:
age_col.age.describe()

count    260490.000000
mean         43.701194
std          19.922561
min           0.000000
25%          28.000000
50%          44.000000
75%          57.000000
max         121.000000
Name: age, dtype: float64

In [13]:
total_na_values = len(age_col) - age_col.count()
total_na_values

age        296874
format     296874
format2    296874
dtype: int64

### Replace orignal age column with the new formatted age column

In [14]:
df_cases.age = age_col.age 
df_cases

,age,sex,province,country,latitude,longitude,date_confirmation,additional_information,source,outcome
0,NaN,NaN,Gujarat,India,23.027760,72.600270,15.04.2020,NaN,https://gujcovid19.gujarat.gov.in/uploads/pres...,hospitalized
1,21.0,male,Moyobamba,Peru,-6.032710,-76.972300,09.05.2020,NaN,NaN,nonhospitalized
2,94.0,female,Lima,Peru,-12.043180,-77.028240,15.04.2020,NaN,NaN,nonhospitalized
3,NaN,NaN,Gujarat,India,23.027760,72.600270,22.05.2020,NaN,https://www.deshgujarat.com/2020/05/22/gujarat...,hospitalized
4,2.0,female,Coronel Portillo,Peru,-8.409210,-74.555720,30.04.2020,NaN,NaN,nonhospitalized
5,29.0,female,Ica,Peru,-14.094020,-75.702840,28.04.2020,NaN,NaN,nonhospitalized
6,NaN,NaN,Delhi,India,28.614740,77.209100,01.06.2020,NaN,https://twitter.com/ANI/status/126746073002384...,hospitalized
7,NaN,NaN,Maharashtra,India,18.940170,72.834830,31.05.2020,NaN,https://arogya.maharashtra.gov.in/pdf/ncovidep...,hospitalized
8,47.0,female,Mecklenburg-Vorpommern,Germany,53.792330,13.801800,19.03.2020,NaN,NaN,nonhospitalized
9,NaN,NaN,West Bengal,India,23.797760,87.986406,11.04.2020,"As per MohFW update,",https://www.mohfw.gov.in/,hospitalized
10,47.0,male,Bayern,Germany,49.246810,11.090850,04.04.2020,NaN,NaN,nonhospitalized
11,48.0,male,Bogota DC,Colombia,4.630880,-74.086570,04.04.2020,NaN,NaN,nonhospitalized
12,51.0,female,Lima,Peru,-11.932980,-77.040850,21.05.2020,NaN,NaN,nonhospitalized
13,NaN,NaN,NaN,Turkey,39.102050,35.173550,05.05.2020,NaN,https://www.worldometers.info/coronavirus/coun...,nonhospitalized
14,NaN,NaN,Gujarat,India,23.027760,72.600270,13.05.2020,NaN,https://www.deshgujarat.com/2020/05/13/live-da...,recovered
15,50.0,female,Piura,Peru,-5.190830,-80.605160,06.06.2020,NaN,NaN,nonhospitalized
16,24.0,male,New Brunswick,Canada,45.949033,-66.689325,15.03.2020,Close Contact of New Brunswick Case 1,https://www2.gnb.ca/content/gnb/en/news/news_r...,nonhospitalized
17,NaN,NaN,Madhya Pradesh,India,22.716220,75.865120,16.04.2020,NaN,https://twitter.com/ANI/status/125075338589422...,hospitalized
18,NaN,NaN,Bihar,India,25.424420,86.133670,28.05.2020,NaN,https://twitter.com/BiharHealthDept/status/126...,recovered
19,NaN,NaN,Maharashtra,India,18.940170,72.834830,29.05.2020,NaN,https://arogya.maharashtra.gov.in/pdf/ncovidep...,recovered
20,34.0,female,Vermont,United States,44.461123,-73.081581,16.03.2020,Self-isolating at home,https://www.healthvermont.gov/media/newsroom/v...,nonhospitalized
21,38.0,male,Arequipa,Peru,-16.358180,-71.500140,16.05.2020,NaN,NaN,nonhospitalized
22,53.0,female,Karlovy Vary,Czech Republic,50.228400,12.865310,26.03.2020,NaN,https://onemocneni-aktualne.mzcr.cz/api/v2/cov...,nonhospitalized
23,79.0,female,Lima,Peru,-12.043180,-77.028240,20.05.2020,NaN,NaN,nonhospitalized
24,NaN,NaN,Punjab,India,29.990840,75.399970,11.05.2020,NaN,http://pbhealth.gov.in/Media%20Bulletin%20COVI...,hospitalized
25,NaN,NaN,Madhya Pradesh,India,24.458540,74.862460,27.05.2020,NaN,https://twitter.com/healthminmp/status/1265660...,hospitalized
26,24.0,male,Trujillo,Peru,-8.062750,-79.056970,22.05.2020,NaN,NaN,nonhospitalized
27,35.0,male,ILO,Peru,-17.642890,-71.329650,19.05.2020,NaN,NaN,nonhospitalized
28,NaN,NaN,Maharashtra,India,19.995030,73.796470,26.05.2020,NaN,https://t.me/indiacovid/5601,hospitalized
29,NaN,NaN,Delhi,India,28.614740,77.209100,31.05.2020,NaN,https://twitter.com/CMODelhi/status/1267076719...,deceased
...,...,...,...,...,...,...,...,...,...,...
557334,NaN,NaN,Punjab,India,31.330820,75.590080,18.05.2020,NaN,https://twitter.com/kbssidhu1961/status/126237...,recovered
557335,NaN,NaN,Maharashtra,India,19.200000,72.966670,19.05.2020,NaN,https://experience.arcgis.com/experience/8167a...,hospitalized
557336,NaN,male,Gujarat,India,23.027760,72.600270,24.05.2020,NaN,https://www.deshgujarat.com/2020/05/24/gujarat...,recovered
557337,66.0,female,Bogota DC,Colombia,4.630880,-74.086570,29.05.2020,NaN,NaN,nonhospitalized
557338,86.0,male,Lima,Peru,-12.003950,-77.006950,05.06.2020,NaN,NaN,nonhospitalized
557339,80.0,female,Nordrhein-Westfalen,Germany,52.150090,7.338950,28.04.2020,NaN,NaN,nonhospitalized
557340,NaN,NaN,Maharashtra,India,19.200000,72.966670,06.05.2020,NaN,https://twitter.com/ANI/status/125804198622288...,hospitalized
557341,NaN,NaN,Toscana,Italy,43.153050,10.479490,14.03.2020,NaN,https://raw.githubusercontent.com/pcm-dpc/COVI...,nonhospitalized
557342,NaN,NaN,Maharashtra,India,18.940170,72.834830,30.05.2020,NaN,https://arogya.maharashtra.gov.in/pdf/ncovidep...,hospitalized
557343,47.0,female,Sachsen,Germany,51.179640,14.424260,02.04.2020,NaN,NaN,nonhospitalized
557344,NaN,NaN,Maharashtra,India,18.940170,72.834830,10.05.2020,NaN,https://t.me/indiacovid/4483,hospitalized
557345,80.0,male,Bayern,Germany,48.596620,10.528068,21.04.2020,NaN,NaN,nonhospitalized
557346,NaN,NaN,Maharashtra,India,18.940170,72.834830,29.04.2020,NaN,https://twitter.com/ANI/status/125551821772585...,hospitalized
557347,NaN,NaN,Tamil Nadu,India,11.745140,79.758920,19.05.2020,NaN,https://stopcorona.tn.gov.in/wp-content/upload...,recovered
557348,67.0,male,Florida,United States,25.613599,-80.565963,25.03.2020,NaN,https://floridahealthcovid19.gov/,nonhospitalized
557349,NaN,NaN,Maharashtra,India,19.036810,73.015820,16.05.2020,NaN,https://t.me/indiacovid/4891,recovered
557350,33.0,male,Lima,Peru,-12.286740,-76.830260,28.05.2020,NaN,NaN,nonhospitalized
557351,60.0,male,Callao,Peru,-12.000740,-77.118240,11.04.2020,NaN,NaN,nonhospitalized
557352,73.0,male,Lima,Peru,-12.110210,-77.036540,14.05.2020,NaN,NaN,nonhospitalized
557353,74.0,male,Tamil Nadu,India,13.083620,80.282520,28.05.2020,NaN,https://stopcorona.tn.gov.in/wp-content/upload...,hospitalized
557354,65.0,female,Hong Kong,China,22.380740,114.132400,06.02.2020,NaN,NaN,nonhospitalized
557355,NaN,NaN,Gujarat,India,23.027760,72.600270,29.05.2020,NaN,https://twitter.com/PIBAhmedabad/status/126637...,recovered
557356,NaN,NaN,State Unassigned,India,20.826760,71.045100,29.05.2020,NaN,https://www.mohfw.gov.in/,hospitalized
557357,NaN,NaN,Odisha,India,20.850000,86.333330,01.06.2020,NaN,https://health.odisha.gov.in/covid19-dashboard...,recovered
557358,NaN,NaN,Gujarat,India,22.313890,74.013930,25.04.2020,NaN,https://twitter.com/PIBAhmedabad/status/125405...,hospitalized
557359,56.0,male,Callao,Peru,-12.041750,-77.090820,15.04.2020,NaN,NaN,nonhospitalized
557360,NaN,NaN,Maharashtra,India,18.940170,72.834830,29.05.2020,NaN,https://arogya.maharashtra.gov.in/pdf/ncovidep...,recovered
557361,NaN,NaN,Maharashtra,India,19.036810,73.015820,19.05.2020,NaN,NaN,recovered
557362,25.0,female,Tamil Nadu,India,13.083620,80.282520,31.05.2020,NaN,https://stopcorona.tn.gov.in/wp-content/upload...,hospitalized
557363,NaN,NaN,Rajasthan,India,26.266910,73.030520,08.05.2020,NaN,https://twitter.com/ANI/status/125878720879583...,recovered

### Explored Decision Tree Classifier to impute misssing age and sex values

In [15]:
df = df_cases
# df

In [16]:
df = df.drop(['additional_information'], axis=1)

In [17]:
df = df.drop(['source'], axis =1)

In [18]:
df

,age,sex,province,country,latitude,longitude,date_confirmation,outcome
0,NaN,NaN,Gujarat,India,23.027760,72.600270,15.04.2020,hospitalized
1,21.0,male,Moyobamba,Peru,-6.032710,-76.972300,09.05.2020,nonhospitalized
2,94.0,female,Lima,Peru,-12.043180,-77.028240,15.04.2020,nonhospitalized
3,NaN,NaN,Gujarat,India,23.027760,72.600270,22.05.2020,hospitalized
4,2.0,female,Coronel Portillo,Peru,-8.409210,-74.555720,30.04.2020,nonhospitalized
5,29.0,female,Ica,Peru,-14.094020,-75.702840,28.04.2020,nonhospitalized
6,NaN,NaN,Delhi,India,28.614740,77.209100,01.06.2020,hospitalized
7,NaN,NaN,Maharashtra,India,18.940170,72.834830,31.05.2020,hospitalized
8,47.0,female,Mecklenburg-Vorpommern,Germany,53.792330,13.801800,19.03.2020,nonhospitalized
9,NaN,NaN,West Bengal,India,23.797760,87.986406,11.04.2020,hospitalized
10,47.0,male,Bayern,Germany,49.246810,11.090850,04.04.2020,nonhospitalized
11,48.0,male,Bogota DC,Colombia,4.630880,-74.086570,04.04.2020,nonhospitalized
12,51.0,female,Lima,Peru,-11.932980,-77.040850,21.05.2020,nonhospitalized
13,NaN,NaN,NaN,Turkey,39.102050,35.173550,05.05.2020,nonhospitalized
14,NaN,NaN,Gujarat,India,23.027760,72.600270,13.05.2020,recovered
15,50.0,female,Piura,Peru,-5.190830,-80.605160,06.06.2020,nonhospitalized
16,24.0,male,New Brunswick,Canada,45.949033,-66.689325,15.03.2020,nonhospitalized
17,NaN,NaN,Madhya Pradesh,India,22.716220,75.865120,16.04.2020,hospitalized
18,NaN,NaN,Bihar,India,25.424420,86.133670,28.05.2020,recovered
19,NaN,NaN,Maharashtra,India,18.940170,72.834830,29.05.2020,recovered
20,34.0,female,Vermont,United States,44.461123,-73.081581,16.03.2020,nonhospitalized
21,38.0,male,Arequipa,Peru,-16.358180,-71.500140,16.05.2020,nonhospitalized
22,53.0,female,Karlovy Vary,Czech Republic,50.228400,12.865310,26.03.2020,nonhospitalized
23,79.0,female,Lima,Peru,-12.043180,-77.028240,20.05.2020,nonhospitalized
24,NaN,NaN,Punjab,India,29.990840,75.399970,11.05.2020,hospitalized
25,NaN,NaN,Madhya Pradesh,India,24.458540,74.862460,27.05.2020,hospitalized
26,24.0,male,Trujillo,Peru,-8.062750,-79.056970,22.05.2020,nonhospitalized
27,35.0,male,ILO,Peru,-17.642890,-71.329650,19.05.2020,nonhospitalized
28,NaN,NaN,Maharashtra,India,19.995030,73.796470,26.05.2020,hospitalized
29,NaN,NaN,Delhi,India,28.614740,77.209100,31.05.2020,deceased
...,...,...,...,...,...,...,...,...
557334,NaN,NaN,Punjab,India,31.330820,75.590080,18.05.2020,recovered
557335,NaN,NaN,Maharashtra,India,19.200000,72.966670,19.05.2020,hospitalized
557336,NaN,male,Gujarat,India,23.027760,72.600270,24.05.2020,recovered
557337,66.0,female,Bogota DC,Colombia,4.630880,-74.086570,29.05.2020,nonhospitalized
557338,86.0,male,Lima,Peru,-12.003950,-77.006950,05.06.2020,nonhospitalized
557339,80.0,female,Nordrhein-Westfalen,Germany,52.150090,7.338950,28.04.2020,nonhospitalized
557340,NaN,NaN,Maharashtra,India,19.200000,72.966670,06.05.2020,hospitalized
557341,NaN,NaN,Toscana,Italy,43.153050,10.479490,14.03.2020,nonhospitalized
557342,NaN,NaN,Maharashtra,India,18.940170,72.834830,30.05.2020,hospitalized
557343,47.0,female,Sachsen,Germany,51.179640,14.424260,02.04.2020,nonhospitalized
557344,NaN,NaN,Maharashtra,India,18.940170,72.834830,10.05.2020,hospitalized
557345,80.0,male,Bayern,Germany,48.596620,10.528068,21.04.2020,nonhospitalized
557346,NaN,NaN,Maharashtra,India,18.940170,72.834830,29.04.2020,hospitalized
557347,NaN,NaN,Tamil Nadu,India,11.745140,79.758920,19.05.2020,recovered
557348,67.0,male,Florida,United States,25.613599,-80.565963,25.03.2020,nonhospitalized
557349,NaN,NaN,Maharashtra,India,19.036810,73.015820,16.05.2020,recovered
557350,33.0,male,Lima,Peru,-12.286740,-76.830260,28.05.2020,nonhospitalized
557351,60.0,male,Callao,Peru,-12.000740,-77.118240,11.04.2020,nonhospitalized
557352,73.0,male,Lima,Peru,-12.110210,-77.036540,14.05.2020,nonhospitalized
557353,74.0,male,Tamil Nadu,India,13.083620,80.282520,28.05.2020,hospitalized
557354,65.0,female,Hong Kong,China,22.380740,114.132400,06.02.2020,nonhospitalized
557355,NaN,NaN,Gujarat,India,23.027760,72.600270,29.05.2020,recovered
557356,NaN,NaN,State Unassigned,India,20.826760,71.045100,29.05.2020,hospitalized
557357,NaN,NaN,Odisha,India,20.850000,86.333330,01.06.2020,recovered
557358,NaN,NaN,Gujarat,India,22.313890,74.013930,25.04.2020,hospitalized
557359,56.0,male,Callao,Peru,-12.041750,-77.090820,15.04.2020,nonhospitalized
557360,NaN,NaN,Maharashtra,India,18.940170,72.834830,29.05.2020,recovered
557361,NaN,NaN,Maharashtra,India,19.036810,73.015820,19.05.2020,recovered
557362,25.0,female,Tamil Nadu,India,13.083620,80.282520,31.05.2020,hospitalized
557363,NaN,NaN,Rajasthan,India,26.266910,73.030520,08.05.2020,recovered

In [23]:
df_nan = df[df.isnull().any(axis=1)] #dataset age and sex to be predicted 
featutre_cols = ['latitide', 'longitude']

In [26]:

df_nan
# X_ = df_nan[feature_cols]
# X_ = X_.fillna(0)
X_

NameError: name 'X_' is not defined

In [27]:
df = df.dropna()
# df

In [30]:
le = preprocessing.LabelEncoder()
data = df.apply(le.fit_transform)
feature_cols = ['latitude', 'longitude']
# data

In [31]:
X = data[feature_cols] # Features
y = data.sex #target variable
X.head()

   latitude  longitude
1      1261        753
2       814        733
4      1069       1299
5       580       1039
8      4737       2681

In [32]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)
# df_nan

In [33]:
clf = tree.DecisionTreeClassifier()

In [34]:
clf = clf.fit(X_train,y_train)

In [35]:
# data_ = df_nan.apply(le.fit_transform)
# data_
y_pred = clf.predict(X_test)
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.5522260386645084

In [37]:
# Y_ = clf.predict(X_)
# Y_

In [38]:
y_pred

array([1, 0, 1, ..., 0, 1, 1])

### Another approach to impute values

In [39]:
df_cases

,age,sex,province,country,latitude,longitude,date_confirmation,additional_information,source,outcome
0,NaN,NaN,Gujarat,India,23.027760,72.600270,15.04.2020,NaN,https://gujcovid19.gujarat.gov.in/uploads/pres...,hospitalized
1,21.0,male,Moyobamba,Peru,-6.032710,-76.972300,09.05.2020,NaN,NaN,nonhospitalized
2,94.0,female,Lima,Peru,-12.043180,-77.028240,15.04.2020,NaN,NaN,nonhospitalized
3,NaN,NaN,Gujarat,India,23.027760,72.600270,22.05.2020,NaN,https://www.deshgujarat.com/2020/05/22/gujarat...,hospitalized
4,2.0,female,Coronel Portillo,Peru,-8.409210,-74.555720,30.04.2020,NaN,NaN,nonhospitalized
5,29.0,female,Ica,Peru,-14.094020,-75.702840,28.04.2020,NaN,NaN,nonhospitalized
6,NaN,NaN,Delhi,India,28.614740,77.209100,01.06.2020,NaN,https://twitter.com/ANI/status/126746073002384...,hospitalized
7,NaN,NaN,Maharashtra,India,18.940170,72.834830,31.05.2020,NaN,https://arogya.maharashtra.gov.in/pdf/ncovidep...,hospitalized
8,47.0,female,Mecklenburg-Vorpommern,Germany,53.792330,13.801800,19.03.2020,NaN,NaN,nonhospitalized
9,NaN,NaN,West Bengal,India,23.797760,87.986406,11.04.2020,"As per MohFW update,",https://www.mohfw.gov.in/,hospitalized
10,47.0,male,Bayern,Germany,49.246810,11.090850,04.04.2020,NaN,NaN,nonhospitalized
11,48.0,male,Bogota DC,Colombia,4.630880,-74.086570,04.04.2020,NaN,NaN,nonhospitalized
12,51.0,female,Lima,Peru,-11.932980,-77.040850,21.05.2020,NaN,NaN,nonhospitalized
13,NaN,NaN,NaN,Turkey,39.102050,35.173550,05.05.2020,NaN,https://www.worldometers.info/coronavirus/coun...,nonhospitalized
14,NaN,NaN,Gujarat,India,23.027760,72.600270,13.05.2020,NaN,https://www.deshgujarat.com/2020/05/13/live-da...,recovered
15,50.0,female,Piura,Peru,-5.190830,-80.605160,06.06.2020,NaN,NaN,nonhospitalized
16,24.0,male,New Brunswick,Canada,45.949033,-66.689325,15.03.2020,Close Contact of New Brunswick Case 1,https://www2.gnb.ca/content/gnb/en/news/news_r...,nonhospitalized
17,NaN,NaN,Madhya Pradesh,India,22.716220,75.865120,16.04.2020,NaN,https://twitter.com/ANI/status/125075338589422...,hospitalized
18,NaN,NaN,Bihar,India,25.424420,86.133670,28.05.2020,NaN,https://twitter.com/BiharHealthDept/status/126...,recovered
19,NaN,NaN,Maharashtra,India,18.940170,72.834830,29.05.2020,NaN,https://arogya.maharashtra.gov.in/pdf/ncovidep...,recovered
20,34.0,female,Vermont,United States,44.461123,-73.081581,16.03.2020,Self-isolating at home,https://www.healthvermont.gov/media/newsroom/v...,nonhospitalized
21,38.0,male,Arequipa,Peru,-16.358180,-71.500140,16.05.2020,NaN,NaN,nonhospitalized
22,53.0,female,Karlovy Vary,Czech Republic,50.228400,12.865310,26.03.2020,NaN,https://onemocneni-aktualne.mzcr.cz/api/v2/cov...,nonhospitalized
23,79.0,female,Lima,Peru,-12.043180,-77.028240,20.05.2020,NaN,NaN,nonhospitalized
24,NaN,NaN,Punjab,India,29.990840,75.399970,11.05.2020,NaN,http://pbhealth.gov.in/Media%20Bulletin%20COVI...,hospitalized
25,NaN,NaN,Madhya Pradesh,India,24.458540,74.862460,27.05.2020,NaN,https://twitter.com/healthminmp/status/1265660...,hospitalized
26,24.0,male,Trujillo,Peru,-8.062750,-79.056970,22.05.2020,NaN,NaN,nonhospitalized
27,35.0,male,ILO,Peru,-17.642890,-71.329650,19.05.2020,NaN,NaN,nonhospitalized
28,NaN,NaN,Maharashtra,India,19.995030,73.796470,26.05.2020,NaN,https://t.me/indiacovid/5601,hospitalized
29,NaN,NaN,Delhi,India,28.614740,77.209100,31.05.2020,NaN,https://twitter.com/CMODelhi/status/1267076719...,deceased
...,...,...,...,...,...,...,...,...,...,...
557334,NaN,NaN,Punjab,India,31.330820,75.590080,18.05.2020,NaN,https://twitter.com/kbssidhu1961/status/126237...,recovered
557335,NaN,NaN,Maharashtra,India,19.200000,72.966670,19.05.2020,NaN,https://experience.arcgis.com/experience/8167a...,hospitalized
557336,NaN,male,Gujarat,India,23.027760,72.600270,24.05.2020,NaN,https://www.deshgujarat.com/2020/05/24/gujarat...,recovered
557337,66.0,female,Bogota DC,Colombia,4.630880,-74.086570,29.05.2020,NaN,NaN,nonhospitalized
557338,86.0,male,Lima,Peru,-12.003950,-77.006950,05.06.2020,NaN,NaN,nonhospitalized
557339,80.0,female,Nordrhein-Westfalen,Germany,52.150090,7.338950,28.04.2020,NaN,NaN,nonhospitalized
557340,NaN,NaN,Maharashtra,India,19.200000,72.966670,06.05.2020,NaN,https://twitter.com/ANI/status/125804198622288...,hospitalized
557341,NaN,NaN,Toscana,Italy,43.153050,10.479490,14.03.2020,NaN,https://raw.githubusercontent.com/pcm-dpc/COVI...,nonhospitalized
557342,NaN,NaN,Maharashtra,India,18.940170,72.834830,30.05.2020,NaN,https://arogya.maharashtra.gov.in/pdf/ncovidep...,hospitalized
557343,47.0,female,Sachsen,Germany,51.179640,14.424260,02.04.2020,NaN,NaN,nonhospitalized
557344,NaN,NaN,Maharashtra,India,18.940170,72.834830,10.05.2020,NaN,https://t.me/indiacovid/4483,hospitalized
557345,80.0,male,Bayern,Germany,48.596620,10.528068,21.04.2020,NaN,NaN,nonhospitalized
557346,NaN,NaN,Maharashtra,India,18.940170,72.834830,29.04.2020,NaN,https://twitter.com/ANI/status/125551821772585...,hospitalized
557347,NaN,NaN,Tamil Nadu,India,11.745140,79.758920,19.05.2020,NaN,https://stopcorona.tn.gov.in/wp-content/upload...,recovered
557348,67.0,male,Florida,United States,25.613599,-80.565963,25.03.2020,NaN,https://floridahealthcovid19.gov/,nonhospitalized
557349,NaN,NaN,Maharashtra,India,19.036810,73.015820,16.05.2020,NaN,https://t.me/indiacovid/4891,recovered
557350,33.0,male,Lima,Peru,-12.286740,-76.830260,28.05.2020,NaN,NaN,nonhospitalized
557351,60.0,male,Callao,Peru,-12.000740,-77.118240,11.04.2020,NaN,NaN,nonhospitalized
557352,73.0,male,Lima,Peru,-12.110210,-77.036540,14.05.2020,NaN,NaN,nonhospitalized
557353,74.0,male,Tamil Nadu,India,13.083620,80.282520,28.05.2020,NaN,https://stopcorona.tn.gov.in/wp-content/upload...,hospitalized
557354,65.0,female,Hong Kong,China,22.380740,114.132400,06.02.2020,NaN,NaN,nonhospitalized
557355,NaN,NaN,Gujarat,India,23.027760,72.600270,29.05.2020,NaN,https://twitter.com/PIBAhmedabad/status/126637...,recovered
557356,NaN,NaN,State Unassigned,India,20.826760,71.045100,29.05.2020,NaN,https://www.mohfw.gov.in/,hospitalized
557357,NaN,NaN,Odisha,India,20.850000,86.333330,01.06.2020,NaN,https://health.odisha.gov.in/covid19-dashboard...,recovered
557358,NaN,NaN,Gujarat,India,22.313890,74.013930,25.04.2020,NaN,https://twitter.com/PIBAhmedabad/status/125405...,hospitalized
557359,56.0,male,Callao,Peru,-12.041750,-77.090820,15.04.2020,NaN,NaN,nonhospitalized
557360,NaN,NaN,Maharashtra,India,18.940170,72.834830,29.05.2020,NaN,https://arogya.maharashtra.gov.in/pdf/ncovidep...,recovered
557361,NaN,NaN,Maharashtra,India,19.036810,73.015820,19.05.2020,NaN,NaN,recovered
557362,25.0,female,Tamil Nadu,India,13.083620,80.282520,31.05.2020,NaN,https://stopcorona.tn.gov.in/wp-content/upload...,hospitalized
557363,NaN,NaN,Rajasthan,India,26.266910,73.030520,08.05.2020,NaN,https://twitter.com/ANI/status/125878720879583...,recovered

In [41]:
df_cases = df_cases.drop(['additional_information', 'source'], axis=1)

In [42]:
df_cases

,age,sex,province,country,latitude,longitude,date_confirmation,outcome
0,NaN,NaN,Gujarat,India,23.027760,72.600270,15.04.2020,hospitalized
1,21.0,male,Moyobamba,Peru,-6.032710,-76.972300,09.05.2020,nonhospitalized
2,94.0,female,Lima,Peru,-12.043180,-77.028240,15.04.2020,nonhospitalized
3,NaN,NaN,Gujarat,India,23.027760,72.600270,22.05.2020,hospitalized
4,2.0,female,Coronel Portillo,Peru,-8.409210,-74.555720,30.04.2020,nonhospitalized
5,29.0,female,Ica,Peru,-14.094020,-75.702840,28.04.2020,nonhospitalized
6,NaN,NaN,Delhi,India,28.614740,77.209100,01.06.2020,hospitalized
7,NaN,NaN,Maharashtra,India,18.940170,72.834830,31.05.2020,hospitalized
8,47.0,female,Mecklenburg-Vorpommern,Germany,53.792330,13.801800,19.03.2020,nonhospitalized
9,NaN,NaN,West Bengal,India,23.797760,87.986406,11.04.2020,hospitalized
10,47.0,male,Bayern,Germany,49.246810,11.090850,04.04.2020,nonhospitalized
11,48.0,male,Bogota DC,Colombia,4.630880,-74.086570,04.04.2020,nonhospitalized
12,51.0,female,Lima,Peru,-11.932980,-77.040850,21.05.2020,nonhospitalized
13,NaN,NaN,NaN,Turkey,39.102050,35.173550,05.05.2020,nonhospitalized
14,NaN,NaN,Gujarat,India,23.027760,72.600270,13.05.2020,recovered
15,50.0,female,Piura,Peru,-5.190830,-80.605160,06.06.2020,nonhospitalized
16,24.0,male,New Brunswick,Canada,45.949033,-66.689325,15.03.2020,nonhospitalized
17,NaN,NaN,Madhya Pradesh,India,22.716220,75.865120,16.04.2020,hospitalized
18,NaN,NaN,Bihar,India,25.424420,86.133670,28.05.2020,recovered
19,NaN,NaN,Maharashtra,India,18.940170,72.834830,29.05.2020,recovered
20,34.0,female,Vermont,United States,44.461123,-73.081581,16.03.2020,nonhospitalized
21,38.0,male,Arequipa,Peru,-16.358180,-71.500140,16.05.2020,nonhospitalized
22,53.0,female,Karlovy Vary,Czech Republic,50.228400,12.865310,26.03.2020,nonhospitalized
23,79.0,female,Lima,Peru,-12.043180,-77.028240,20.05.2020,nonhospitalized
24,NaN,NaN,Punjab,India,29.990840,75.399970,11.05.2020,hospitalized
25,NaN,NaN,Madhya Pradesh,India,24.458540,74.862460,27.05.2020,hospitalized
26,24.0,male,Trujillo,Peru,-8.062750,-79.056970,22.05.2020,nonhospitalized
27,35.0,male,ILO,Peru,-17.642890,-71.329650,19.05.2020,nonhospitalized
28,NaN,NaN,Maharashtra,India,19.995030,73.796470,26.05.2020,hospitalized
29,NaN,NaN,Delhi,India,28.614740,77.209100,31.05.2020,deceased
...,...,...,...,...,...,...,...,...
557334,NaN,NaN,Punjab,India,31.330820,75.590080,18.05.2020,recovered
557335,NaN,NaN,Maharashtra,India,19.200000,72.966670,19.05.2020,hospitalized
557336,NaN,male,Gujarat,India,23.027760,72.600270,24.05.2020,recovered
557337,66.0,female,Bogota DC,Colombia,4.630880,-74.086570,29.05.2020,nonhospitalized
557338,86.0,male,Lima,Peru,-12.003950,-77.006950,05.06.2020,nonhospitalized
557339,80.0,female,Nordrhein-Westfalen,Germany,52.150090,7.338950,28.04.2020,nonhospitalized
557340,NaN,NaN,Maharashtra,India,19.200000,72.966670,06.05.2020,hospitalized
557341,NaN,NaN,Toscana,Italy,43.153050,10.479490,14.03.2020,nonhospitalized
557342,NaN,NaN,Maharashtra,India,18.940170,72.834830,30.05.2020,hospitalized
557343,47.0,female,Sachsen,Germany,51.179640,14.424260,02.04.2020,nonhospitalized
557344,NaN,NaN,Maharashtra,India,18.940170,72.834830,10.05.2020,hospitalized
557345,80.0,male,Bayern,Germany,48.596620,10.528068,21.04.2020,nonhospitalized
557346,NaN,NaN,Maharashtra,India,18.940170,72.834830,29.04.2020,hospitalized
557347,NaN,NaN,Tamil Nadu,India,11.745140,79.758920,19.05.2020,recovered
557348,67.0,male,Florida,United States,25.613599,-80.565963,25.03.2020,nonhospitalized
557349,NaN,NaN,Maharashtra,India,19.036810,73.015820,16.05.2020,recovered
557350,33.0,male,Lima,Peru,-12.286740,-76.830260,28.05.2020,nonhospitalized
557351,60.0,male,Callao,Peru,-12.000740,-77.118240,11.04.2020,nonhospitalized
557352,73.0,male,Lima,Peru,-12.110210,-77.036540,14.05.2020,nonhospitalized
557353,74.0,male,Tamil Nadu,India,13.083620,80.282520,28.05.2020,hospitalized
557354,65.0,female,Hong Kong,China,22.380740,114.132400,06.02.2020,nonhospitalized
557355,NaN,NaN,Gujarat,India,23.027760,72.600270,29.05.2020,recovered
557356,NaN,NaN,State Unassigned,India,20.826760,71.045100,29.05.2020,hospitalized
557357,NaN,NaN,Odisha,India,20.850000,86.333330,01.06.2020,recovered
557358,NaN,NaN,Gujarat,India,22.313890,74.013930,25.04.2020,hospitalized
557359,56.0,male,Callao,Peru,-12.041750,-77.090820,15.04.2020,nonhospitalized
557360,NaN,NaN,Maharashtra,India,18.940170,72.834830,29.05.2020,recovered
557361,NaN,NaN,Maharashtra,India,19.036810,73.015820,19.05.2020,recovered
557362,25.0,female,Tamil Nadu,India,13.083620,80.282520,31.05.2020,hospitalized
557363,NaN,NaN,Rajasthan,India,26.266910,73.030520,08.05.2020,recovered

In [43]:
df_cases.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 557364 entries, 0 to 557363
Data columns (total 8 columns):
age                  260490 non-null float64
sex                  263630 non-null object
province             550796 non-null object
country              557340 non-null object
latitude             557362 non-null float64
longitude            557362 non-null float64
date_confirmation    556902 non-null object
outcome              557364 non-null object
dtypes: float64(3), object(5)
memory usage: 34.0+ MB

In [59]:
age_col['category_children'] = age_col.age < 15 
age_col['category_young_adults'] = age_col.age < 30
age_col['adults_below_50'] = age_col.age < 50
age_col['elderly'] = age_col.age > 50

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 557364 entries, 0 to 557363
Data columns (total 8 columns):
age                      260490 non-null float64
format                   260490 non-null object
format2                  260490 non-null object
category                 557364 non-null bool
category_children        557364 non-null bool
category_young_adults    557364 non-null bool
adults_below_50          557364 non-null bool
elderly                  557364 non-null bool
dtypes: bool(5), float64(1), object(2)
memory usage: 15.4+ MB

In [81]:
children = age_col.age[age_col.age < 15].count()
children # 5.6% --> put 5.6% values as 8

14705

In [82]:
young_adults = age_col.age[age_col.age <30].count()
young_adults = young_adults - children
young_adults # 22% --> 22% values as 23

57526

In [83]:
adults_below_50 = age_col.age[age_col.age < 50].count()
adults_below_50 = adults_below_50 - young_adults - children
adults_below_50 # 37.5% --> 37.5% values as 40

97790

In [84]:
elderly_below_80 = age_col.age[age_col.age < 80].count()
elderly_below_80 = elderly_below_80 - adults_below_50 - young_adults - children
elderly_below_80 # 28.9% --> 29% values as 67

75375

In [86]:
very_elderly = age_col.age[age_col.age >= 80].count()
very_elderly # 5.7% --> values as 90

15094

In [87]:
age_col

,age,format,format2,category,category_children,category_young_adults,adults_below_50,elderly
0,NaN,NaN,NaN,False,False,False,False,False
1,21.0,21,21,False,False,True,True,False
2,94.0,94,94,False,False,False,False,True
3,NaN,NaN,NaN,False,False,False,False,False
4,2.0,2,2,True,True,True,True,False
5,29.0,29,29,False,False,True,True,False
6,NaN,NaN,NaN,False,False,False,False,False
7,NaN,NaN,NaN,False,False,False,False,False
8,47.0,47,35,False,False,False,True,False
9,NaN,NaN,NaN,False,False,False,False,False
10,47.0,47,35,False,False,False,True,False
11,48.0,48,48,False,False,False,True,False
12,51.0,51,51,False,False,False,False,True
13,NaN,NaN,NaN,False,False,False,False,False
14,NaN,NaN,NaN,False,False,False,False,False
15,50.0,50,50,False,False,False,False,False
16,24.0,24,20,False,False,True,True,False
17,NaN,NaN,NaN,False,False,False,False,False
18,NaN,NaN,NaN,False,False,False,False,False
19,NaN,NaN,NaN,False,False,False,False,False
20,34.0,34,30,False,False,False,True,False
21,38.0,38,38,False,False,False,True,False
22,53.0,53,53,False,False,False,False,True
23,79.0,79,79,False,False,False,False,True
24,NaN,NaN,NaN,False,False,False,False,False
25,NaN,NaN,NaN,False,False,False,False,False
26,24.0,24,24,False,False,True,True,False
27,35.0,35,35,False,False,False,True,False
28,NaN,NaN,NaN,False,False,False,False,False
29,NaN,NaN,NaN,False,False,False,False,False
...,...,...,...,...,...,...,...,...
557334,NaN,NaN,NaN,False,False,False,False,False
557335,NaN,NaN,NaN,False,False,False,False,False
557336,NaN,NaN,NaN,False,False,False,False,False
557337,66.0,66,66,False,False,False,False,True
557338,86.0,86,86,False,False,False,False,True
557339,80.0,80,80,False,False,False,False,True
557340,NaN,NaN,NaN,False,False,False,False,False
557341,NaN,NaN,NaN,False,False,False,False,False
557342,NaN,NaN,NaN,False,False,False,False,False
557343,47.0,47,35,False,False,False,True,False
557344,NaN,NaN,NaN,False,False,False,False,False
557345,80.0,80,80,False,False,False,False,True
557346,NaN,NaN,NaN,False,False,False,False,False
557347,NaN,NaN,NaN,False,False,False,False,False
557348,67.0,67,67,False,False,False,False,True
557349,NaN,NaN,NaN,False,False,False,False,False
557350,33.0,33,33,False,False,False,True,False
557351,60.0,60,60,False,False,False,False,True
557352,73.0,73,73,False,False,False,False,True
557353,74.0,74,74,False,False,False,False,True
557354,65.0,65,65,False,False,False,False,True
557355,NaN,NaN,NaN,False,False,False,False,False
557356,NaN,NaN,NaN,False,False,False,False,False
557357,NaN,NaN,NaN,False,False,False,False,False
557358,NaN,NaN,NaN,False,False,False,False,False
557359,56.0,56,56,False,False,False,False,True
557360,NaN,NaN,NaN,False,False,False,False,False
557361,NaN,NaN,NaN,False,False,False,False,False
557362,25.0,25,25,False,False,True,True,False
557363,NaN,NaN,NaN,False,False,False,False,False

In [89]:
age_col = age_col.drop(['format', 'format2', 'category', 'category_children', 'category_young_adults', 'adults_below_50', 'elderly'], axis=1)
age_col

         age
0        NaN
1       21.0
2       94.0
3        NaN
4        2.0
...      ...
557359  56.0
557360   NaN
557361   NaN
557362  25.0
557363   NaN

[557364 rows x 1 columns]

In [ ]:
# 296,874 values to be imputed
# 16,625 - children
# 65,321 - young_adults
# 112,014 - adults < 50
# 86,093 - adults > 50 < 80
# 16,821 - elderly

296874

In [ ]:
df_with_nan = df[df.isnull().any(axis=1)] # all data rows with NaN

In [ ]:
df_with_nan
df = df.dropna()
df #<------ data with all existing values